/*parked adhocreserv*/
.data0.chart-pie {-fx-pie-color:#5b8e7d;}
/*parked pass*/
.data1.chart-pie {-fx-pie-color:#006494;}
/*free adhoc reserv*/
.data2.chart-pie {-fx-pie-color:#0dd0e2;}
/*free pass*/
.data3.chart-pie {-fx-pie-color:#b5e28c;}


#set_lbl{
    -fx-font: 20px ariel;
    -fx-text-fill: BLACK;
}

#garage_container{


}

