.data0.chart-pie {
    -fx-pie-color: darkolivegreen;
}
.data1.chart-pie {
    -fx-pie-color: DARKBLUE;
}
.data2.chart-pie
{ -fx-pie-color: RED;
}
.data3.chart-pie {
    -fx-pie-color: orange;
}
.data4.chart-pie {
    -fx-pie-color: ANTIQUEWHITE;
}
