.data0.chart-pie {-fx-pie-color:rgb(0,255,0);}
.data1.chart-pie {-fx-pie-color:rgb(53,144,255);}
.data2.chart-pie {-fx-pie-color:rgb(150,255,170);}
.data3.chart-pie {-fx-pie-color: rgb(135,255,255);}

#set_lbl{
    -fx-font: 20px ariel;
    -fx-text-fill: BLACK;
}

#garage_container{


}

